.social {
	display: flex;
	justify-content: center;
	margin-right: 32px;
	margin-left: 32px;
	padding-bottom: 20px;
	& .item + .item {
		margin-left: 10px;
	}
}

.social-footer {
	display: flex;
	justify-content: center;
	& .item + .item {
		margin-left: 10px;
	}
}

.social-footer .icon-social {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	fill: $white-color;
}
